.img1 {
    background: url("../images/hangman.jpg");
}

.img2 {
    background: url("../images/Trivia.jpg");
} 

.img3 {
    background: url("../images/rock.jpg");
}

.img4 {
    background: url("../images/RPG.png");
}
.img5 {
    background: url("../images/Rutgers_U.jpg");
}

.label {
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

.box {
    float: left;
    width:300px;
    height:200px;
    margin: 0 15px 15px 0;
    background-position: center;
    background-size: cover;
}